<div>
  <input #dateInput [ngClass]="dynamicClass" type="text" placeholder="Entrez la date">
  <button (click)="guessCard(cardGuess)" [disabled]="haveNoCardInUnfounded()">DEVINER</button>
  <div [hidden]="haveNoCardInUnfounded()">
    <h2>Carte à deviner du timeline n° {{ idCurrentTimeline }}</h2>
    <div id="deckCardsUnfounded" class="cards">
      <div class="headerCard">
        <h3>{{ cardGuess.name }}</h3>
      </div>
      <div class="imageCard">
        <img src="{{ cardGuess.imageUrl }}" alt="Carte à deviner">
      </div>
      <div class="descriptionCard">
        <p>{{ cardGuess.description }}</p>
      </div>
    </div>
  </div>
</div>

<h2>Cartes trouvées</h2>
<div id="deckCardsFounded">
  <div class="cards" *ngFor="let card of cardsFounded">
    <div class="headerCard">
      <h3>{{ card.name }}</h3>
      <h4>{{ card.date | date : 'yyyy'}}</h4>  
    </div>
    <div class="imageCard">
      <img src="{{ card.imageUrl }}" alt="Carte trouvée n°{{ card.id }}">
    </div>
    <div class="descriptionCard">
      <p>{{ card.description }}</p>
    </div>
  </div>
</div>
