button:disabled {
  color: red;
}

img {
  margin: 5px;
  width: 200px;
}

#cardsFounded {
  display: flex;
  flex-direction: row;
}

.cards {
  /* padding: 2px; */
  background-color: beige;
  width: 200px;
  border: 1px solid black;
}