.list {
  margin: 10px;
}

#table-view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

table,
th,
td {
  border: 1px solid var(--color-text-secondary);
  border-collapse: collapse;
  background-color: var(--color-text-primary);
}

th, td {
  padding: 5px;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
}

#buttonAdd {
  margin: 5px;
}