<div class="list">
  <!-- <div>
    <button id="buttonAdd" (click)="addTimeline()">Ajouter un timeline</button>
  </div> -->

  <section id="table-view">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Catégorie</th>
          <th>Date de création</th>
          <th>Date de mise à jour</th>
          <th>Nombre de cartes</th>
          <th>Editer ?</th>
          <th>Jouer ?</th>
          <th>Supprimer ?</th>
        </tr>
      </thead>
      <tr *ngFor="let item of timelines; let i = index">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.creationDate | date : 'dd/MM/yyyy' }}</td>
        <td>{{ item.updateDate  | date : 'dd/MM/yyyy' }}</td>
        <td>{{ item.cardList.length }}</td>
        <!-- <td><button (click)="edit(item)" [routerLink]="['/edit', item.id]">Editer</button></td> -->
        <td><button (click)="edit(item)" [routerLink]="['/edit']">Editer</button></td>
        <!-- <td><button [routerLink]="['/timeline', item.id]" *ngIf="item.cardList.length > 0">Jouer</button></td> -->
        <td><button (click)="play(item)" [routerLink]="['/timeline']" *ngIf="item.cardList.length > 0">Jouer</button></td>
        <td><button (click)="timelines.splice(i, 1)">Supprimer</button></td>
      </tr>
    </table>
  </section>
</div>
