.list {
  margin: 10px;
}

#table-view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  background-color: var(--color-dark);
  color: var(--color-lighter);
}

#buttonAdd {
  margin: 5px;
}