.list {
  margin: 10px;
}

#table-view {
  display: block;
  white-space: nowrap;
  overflow: auto;
}

button {
  background-color: var(--color-dark);
  color: var(--color-lighter);
}

#buttonAdd {
  margin: 5px;
}
