<div class="list">
  <!-- <div>
    <button (click)="addCard()">Ajouter une carte</button>
  </div> -->

  <section id="table-view">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Date de création</th>
          <th>Image (URL)</th>
          <th>Description</th>
          <th>Supprimer ?</th>
        </tr>
      </thead>
      <tr *ngFor="let card of cards; let i = index">
        <td>{{ card.id }}</td>
        <td>{{ card.name }}</td>
        <td>{{ card.date | date : 'dd/MM/yyyy' }}</td>
        <td>{{ card.imageUrl }}</td>
        <td>{{ card.description }}</td>
        <td><button (click)="deleteItem(i)">Supprimer</button></td>
      </tr>
    </table>
  </section>
</div>