<form [formGroup]="cardForm" (ngSubmit)="onSubmit(cardForm.value)">
  <div class="col">
    <div class="row">
      <div>
        <label>Id : </label>
        <input class="inputXSmall" type="number" id="id" formControlName="id" min=0 required disabled>
      </div>
      <div>
        <label>Nom : </label>
        <input class="inputSmall" type="text" id="name" formControlName="name" placeholder="Entrez le nom" required>
      </div>
      <div>
        <label>Date de création : </label>
        <input class="inputSmall" type="text" id="date" formControlName="date" placeholder="YYYY-MM-DD" required>
      </div>
    </div>
    <div>
      <label>URL de l'image : </label>
      <input class="inputLarge" type="text" id="imageUrl" formControlName="imageUrl" placeholder="Entrez l'URL de l'image" required>
    </div>
    <div>
      <label>Description : </label>
      <input class="inputLarge" type="text" id="description" formControlName="description" placeholder="Entrez la description">
    </div>
    <div>
      <button class="button" type="submit" [disabled]="!cardForm.valid">Ajouter</button>
    </div>
  </div>
  
</form>
