.center {
  text-align: center;
  margin-bottom: 10px;
}

button {
  font-size: large;
}

.top-bar {
  background-color: var(--color-lighter);
  padding: 5px;
}

#buttonList {
  background-color: var(--color-dark);
  color: var(--color-lighter);
}